body {
	color: white;
	margin: 0;
	padding: 0;
}


.wrapper {
	width: 1170px;
	margin: 0 auto;
	padding: 50px;
}


.dark-section {
	background-color: #272b38;

	header {
		overflow: auto;
	  border-bottom: solid 1px #494d55;
	  padding-bottom: 40px;

		#logo {
			text-transform: uppercase;
			font-size: 22px;
			display: inline-block;
			float: left;
			margin-right: 65px;
		}

		#top-menu {
			list-style-type: none;
			display: inline-block;
			float: left;
			margin: 0;

			li {
				display: inline-block;
				margin-right: 15px;

				a {
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 14px;
				}
			}
		}
	}

	#main-header-text {
		margin-top: 160px;
		text-align: center;

		h1 {
			font-size: 60px;
			font-weight: 500;
			margin-top: 0;
			margin-bottom: 35px;
		}

		h4 {
			width: 700px;
			line-height: 28px;
			letter-spacing: 1px;
			font-size: 20px;
			font-weight: 300;
			margin: 0 auto;
		}
	}


	#main-header-buttons {
		margin-top: 150px;
		margin-bottom: 150px;
		text-align: center;

		#main-download {
			margin-right: 25px;

			&:hover {
				background-color: #50cdd3;
				border: solid 1px #50cdd3;
			}
		}

		#main-learn-more {
			background-color: transparent;

			&:hover {
				background-color: #50cdd3;
				border: solid 1px #50cdd3;
			}
		}
	}

	.btn-main {
		border: solid 1px #ff5174;
		background-color: #ff5174;
	  border-radius: 35px;
	  color: white;
	  text-transform: uppercase;
	  text-decoration: none;
	  padding: 16px 42px;
	  font-size: 14px;
	}

	#down-arrow {
		display: inline-block;
		position: fixed;
		bottom: 50px;
		left: 50%;
	}
}


.light-section {
	background-color: white;
	padding: 70px 0;

	.col-section {
		display: flex;

		.col {
			width: 33.333%;
			padding: 0 14px;
			display: flex;

			.col-graphic {
				display: inline-block;
				margin-right: 15px;
			}

			.col-container {
				font-weight: 300;
				font-size: 15px;

				.col-title {
					font-weight: 600;
		      color: #3D4351;
		      margin-bottom: 10px;
				}

				.col-desc {
					font-size: 16px;
					line-height: 30px;
					color: rgba(28, 54, 83, 0.6);
				}
			}
		}
	}
}
