body {
	color: white;
	margin: 0;
	padding: 0;
  padding-bottom: 1000px;
}


.wrapper {
	width: 1170px;
	margin: 0 auto;
	padding: 0 50px;
}


.top-section {
	background-color: #343844;
  padding-top: 50px;

	header {
		overflow: auto;
	  padding-bottom: 40px;

    #logo {
      float: left;
      margin-right: 8px;
    }

		#logo-text {
			text-transform: uppercase;
			font-size: 22px;
			display: inline-block;
			float: left;
			margin-right: 65px;
		}

		#top-menu {
			list-style-type: none;
			display: inline-block;
			float: left;
			margin: 0;

			li {
				display: inline-block;
				margin-right: 15px;

				a {
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 14px;
				}
			}
		}
	}
}


#hero-bg {
  background-image: url(../images/sunburst.png);
  background-size: cover;
  background-position: center center;
  height: 600px;

  #marquee {
    width: 485px;
    padding-top: 110px;
    display: block;
    margin: 0 auto;
  }


  #main-header-buttons {
    text-align: center;
    margin-top: 60px;

    #main-download {
      margin-right: 25px;

      &:hover {
        border: solid 1px transparent;
      }
    }

    #main-learn-more {
      background-color: #00b6e2;
      border: solid 1px #00b6e2;

      &:hover {
        border: solid 1px transparent;
      }
    }
  }

  .btn-main {
    border: solid 1px #ff5174;
    background-color: #ff5174;
    border-radius: 35px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 42px;
    font-size: 14px;
    font-weight: bold;
  }
}


.light-section {
	background-color: white;
	padding: 70px 0 140px 0;

	.col-section {
		display: flex;

		.col {
			width: 33.333%;
			padding: 0 14px;
			display: flex;

			.col-graphic {
				display: inline-block;
				margin-right: 15px;
			}

			.col-container {
				font-weight: 300;
				font-size: 15px;

				.col-title {
					font-weight: 600;
		      color: #3D4351;
		      margin-bottom: 10px;
				}

				.col-desc {
					font-size: 16px;
					line-height: 30px;
					color: rgba(28, 54, 83, 0.6);
				}
			}
		}
	}
}


#diamond-divider {
  background-color: #3c4460;
  background-image: url(../images/polygonal-bg.jpg);
  background-size: cover;

  #diamond-move-up {
    position: relative;
    bottom: -82px;
    text-align: center;
  
    #diamond {
      display: block;
      margin: 0 auto;
    }

    #diamond-title {
      font-size: 36px;
      margin-bottom: 25px;
      text-align: center;
    }

    #diamond-subtitle {
      font-size: 16px;
      margin-bottom: 50px;
      color: #aaadb5;
    }
  }
}


#demo-section {
  background-image: url(../images/lights-bg.png);
  background-size: cover;
  background-position: center center;
  color: black;
  height: 500px;
  color: white;
  text-align: center;
  padding-bottom: 100px;


  #demo-box {
    width: 680px;
    margin: 0 auto;
    padding-top: 125px;

    .panel {
      background-color: rgba(50, 50, 69, 0.8);
      margin-bottom: 1px;
    }

    #demo-question {
      height: 250px;
      font-size: 32px;
      transition: .6s ease-out;

      &.grow {
        height: 372px;
      }

      #question-title {
        padding: 91px 30px 0 30px;
        line-height: 43px;

        &.shifted {
          padding-top: 162px;
        }
      }
    }

    #demo-answers {

      .answer-btn {
        float: left;
        width: 340px;
        height: 60px;
        line-height: 60px;
        cursor: pointer;
        font-size: 18px;
        box-sizing: border-box;

        &.answer-btn-left {
          width: 340px;
          margin-right: 1px;
        }

        &.answer-btn-right {
          width: 339px;
        }

        &:not(.locked):hover {
          background-color: rgba(255, 81, 116, 0.78);
        }

        &.selected {
          background-color: rgba(240, 153, 32, 0.69);
        }
      }
    }
  }
}


@keyframes correct {
  0% {
    background-color: rgba(10, 195, 18, 0.6);
  }
  50% {
    background-color: rgba(240, 153, 32, 0.69);
  }
  75% {
    background-color: rgba(10, 195, 18, 0.6);
  }
  100% {
    background-color: rgba(10, 195, 18, 0.6);
  }
}
    
@keyframes incorrect {
  0% {
    background-color: rgba(255, 14, 14, 0.67) !important;
  }
  50% {
    background-color: rgba(50, 50, 69, 0.8);
  }
  75% {
    background-color: rgba(255, 14, 14, 0.67) !important;
  }
  100% {
    background-color: rgba(255, 14, 14, 0.67) !important;;
  }
}


.correct {
  animation-name: correct;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-color: rgba(10, 195, 18, 0.6) !important;
} 

.incorrect {
  animation-name: incorrect;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-color: rgba(255, 14, 14, 0.67) !important;
}