body {
  color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 1000px;
  min-width: 1170px; }

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 50px; }

.top-section {
  background-color: #343844;
  padding-top: 50px; }
  .top-section header {
    overflow: auto;
    padding-bottom: 40px; }
    .top-section header #logo {
      float: left;
      margin-right: 8px; }
    .top-section header #logo-text {
      text-transform: uppercase;
      font-size: 22px;
      display: inline-block;
      float: left;
      margin-right: 65px; }
    .top-section header #top-menu {
      list-style-type: none;
      display: inline-block;
      float: left;
      margin: 0; }
      .top-section header #top-menu li {
        display: inline-block;
        margin-right: 15px; }
        .top-section header #top-menu li a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px; }

#hero-bg {
  background-image: url(../images/sunburst.png);
  background-size: cover;
  background-position: center center;
  height: 600px; }
  #hero-bg #marquee {
    width: 485px;
    padding-top: 110px;
    display: block;
    margin: 0 auto; }
  #hero-bg #main-header-buttons {
    text-align: center;
    margin-top: 60px; }
    #hero-bg #main-header-buttons #main-download {
      margin-right: 25px; }
      #hero-bg #main-header-buttons #main-download:hover {
        border: solid 1px transparent; }
    #hero-bg #main-header-buttons #main-learn-more {
      background-color: #00b6e2;
      border: solid 1px #00b6e2; }
      #hero-bg #main-header-buttons #main-learn-more:hover {
        border: solid 1px transparent; }

.btn-main {
  border: solid 1px #ff5174;
  background-color: #ff5174;
  border-radius: 35px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 42px;
  font-size: 14px;
  font-weight: bold; }

.light-section {
  background-color: white;
  padding: 70px 0 70px 0; }
  .light-section .col-section {
    display: flex; }
    .light-section .col-section .col {
      width: 33.333%;
      padding: 0 14px;
      display: flex; }
      .light-section .col-section .col .col-graphic {
        display: inline-block;
        margin-right: 15px; }
      .light-section .col-section .col .col-container {
        font-weight: 300;
        font-size: 15px; }
        .light-section .col-section .col .col-container .col-title {
          font-weight: 600;
          color: #3D4351;
          margin-bottom: 10px; }
        .light-section .col-section .col .col-container .col-desc {
          font-size: 16px;
          line-height: 30px;
          color: rgba(28, 54, 83, 0.6); }

#laptop-section {
  background-color: #F3F4F8;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 120px 0;
  color: #3D4351;
  position: relative;
  min-height: 485px; }
  #laptop-section .wrapper {
    display: flex; }
    #laptop-section .wrapper #laptop-info {
      width: 50%;
      max-width: 420px; }
      #laptop-section .wrapper #laptop-info #laptop-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px; }
      #laptop-section .wrapper #laptop-info p {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 35px; }
        #laptop-section .wrapper #laptop-info p:last-of-type {
          margin-bottom: 55px; }
      #laptop-section .wrapper #laptop-info #laptop-download {
        background-color: transparent;
        border: solid 2px #ff5174;
        color: #ff5174;
        display: inline-block; }
        #laptop-section .wrapper #laptop-info #laptop-download:hover {
          color: white;
          background-color: #ff5174; }
    #laptop-section .wrapper #laptop {
      position: absolute;
      z-index: 1;
      height: 540px;
      top: 70px;
      left: 50%; }

#diamond-divider {
  background-color: #3c4460;
  background-image: url(../images/polygonal-bg.jpg);
  background-size: cover; }
  #diamond-divider #diamond-move-up {
    position: relative;
    bottom: -82px;
    text-align: center; }
    #diamond-divider #diamond-move-up #diamond {
      display: block;
      margin: 0 auto; }
    #diamond-divider #diamond-move-up #diamond-title {
      font-size: 36px;
      margin-bottom: 25px;
      text-align: center; }
    #diamond-divider #diamond-move-up #diamond-subtitle {
      font-size: 16px;
      margin-bottom: 50px;
      color: #aaadb5; }

#demo-section {
  background-image: url(../images/lights-bg.png);
  background-size: cover;
  background-position: center center;
  color: black;
  height: 500px;
  color: white;
  text-align: center;
  padding-bottom: 100px; }
  #demo-section #demo-box {
    width: 680px;
    margin: 0 auto;
    padding-top: 125px; }
    #demo-section #demo-box .panel {
      background-color: rgba(50, 50, 69, 0.8);
      margin-bottom: 1px; }
    #demo-section #demo-box #demo-question {
      height: 250px;
      font-size: 32px;
      transition: .6s ease-out; }
      #demo-section #demo-box #demo-question.grow {
        height: 372px; }
      #demo-section #demo-box #demo-question #question-title {
        padding: 91px 30px 0 30px;
        line-height: 43px; }
        #demo-section #demo-box #demo-question #question-title.shifted {
          padding-top: 162px; }
    #demo-section #demo-box #demo-answers .answer-btn {
      float: left;
      width: 340px;
      height: 60px;
      line-height: 60px;
      cursor: pointer;
      font-size: 18px;
      box-sizing: border-box; }
      #demo-section #demo-box #demo-answers .answer-btn.answer-btn-left {
        width: 340px;
        margin-right: 1px; }
      #demo-section #demo-box #demo-answers .answer-btn.answer-btn-right {
        width: 339px; }
      #demo-section #demo-box #demo-answers .answer-btn:not(.locked):hover {
        background-color: rgba(255, 81, 116, 0.78); }
      #demo-section #demo-box #demo-answers .answer-btn.selected {
        background-color: rgba(240, 153, 32, 0.69); }

#showcase-section {
  color: #3D4351; }

@keyframes correct {
  0% {
    background-color: rgba(10, 195, 18, 0.6); }
  50% {
    background-color: rgba(240, 153, 32, 0.69); }
  75% {
    background-color: rgba(10, 195, 18, 0.6); }
  100% {
    background-color: rgba(10, 195, 18, 0.6); } }

@keyframes incorrect {
  0% {
    background-color: rgba(255, 14, 14, 0.67) !important; }
  50% {
    background-color: rgba(50, 50, 69, 0.8); }
  75% {
    background-color: rgba(255, 14, 14, 0.67) !important; }
  100% {
    background-color: rgba(255, 14, 14, 0.67) !important; } }

.correct {
  animation-name: correct;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-color: rgba(10, 195, 18, 0.6) !important; }

.incorrect {
  animation-name: incorrect;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-color: rgba(255, 14, 14, 0.67) !important; }
