body {
  color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 100px; }

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 50px; }

.top-section {
  background-color: #3c4560;
  padding-top: 50px; }
  .top-section header {
    overflow: auto;
    padding-bottom: 40px; }
    .top-section header #logo {
      float: left;
      margin-right: 8px; }
    .top-section header #logo-text {
      text-transform: uppercase;
      font-size: 22px;
      display: inline-block;
      float: left;
      margin-right: 65px; }
    .top-section header #top-menu {
      list-style-type: none;
      display: inline-block;
      float: left;
      margin: 0; }
      .top-section header #top-menu li {
        display: inline-block;
        margin-right: 15px; }
        .top-section header #top-menu li a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px; }

#hero-bg {
  background-image: url(../images/sunburst.png);
  background-size: cover;
  background-position: center center;
  height: 600px; }
  #hero-bg #marquee {
    width: 485px;
    padding-top: 110px;
    display: block;
    margin: 0 auto; }
  #hero-bg #main-header-buttons {
    text-align: center;
    margin-top: 60px; }
    #hero-bg #main-header-buttons #main-download {
      margin-right: 25px; }
      #hero-bg #main-header-buttons #main-download:hover {
        border: solid 1px transparent; }
    #hero-bg #main-header-buttons #main-learn-more {
      background-color: #00b6e2;
      border: solid 1px #00b6e2; }
      #hero-bg #main-header-buttons #main-learn-more:hover {
        border: solid 1px transparent; }
  #hero-bg .btn-main {
    border: solid 1px #ff5174;
    background-color: #ff5174;
    border-radius: 35px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 42px;
    font-size: 14px;
    font-weight: bold; }

.light-section {
  background-color: white;
  padding: 70px 0; }
  .light-section .col-section {
    display: flex; }
    .light-section .col-section .col {
      width: 33.333%;
      padding: 0 14px;
      display: flex; }
      .light-section .col-section .col .col-graphic {
        display: inline-block;
        margin-right: 15px; }
      .light-section .col-section .col .col-container {
        font-weight: 300;
        font-size: 15px; }
        .light-section .col-section .col .col-container .col-title {
          font-weight: 600;
          color: #3D4351;
          margin-bottom: 10px; }
        .light-section .col-section .col .col-container .col-desc {
          font-size: 16px;
          line-height: 30px;
          color: rgba(28, 54, 83, 0.6); }

#demo-section {
  background-image: url(../images/lights-bg.png);
  background-size: cover;
  background-position: center center;
  color: black;
  height: 500px;
  color: white;
  text-align: center;
  padding-bottom: 100px; }
  #demo-section #demo-box {
    width: 680px;
    margin: 0 auto;
    padding-top: 100px; }
    #demo-section #demo-box .panel {
      background-color: rgba(50, 50, 69, 0.8);
      margin-bottom: 1px; }
    #demo-section #demo-box #demo-question {
      height: 250px;
      line-height: 250px;
      font-size: 33px; }
    #demo-section #demo-box #demo-answers .answer-btn {
      float: left;
      width: 340px;
      height: 60px;
      line-height: 60px;
      cursor: pointer; }
      #demo-section #demo-box #demo-answers .answer-btn.answer-btn-left {
        width: 340px;
        margin-right: 1px; }
      #demo-section #demo-box #demo-answers .answer-btn.answer-btn-right {
        width: 339px; }
      #demo-section #demo-box #demo-answers .answer-btn:hover {
        background-color: rgba(255, 81, 116, 0.78); }
